* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fcf5e9;
    --container-normal: 1100px;
    --container-wide: 1400px;
    --container-narrow: 900px;
    --dark-color: #333;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

/*Utility class*/
.bg-primary {
    background: var(--primary-color);
    color: #333;
}

.bg-dark {
    background: var(--dark-color);
    color: #fff;
}

.bg-dark .bg-primary {
    padding: 0 0.3rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid #333;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;

}

.btn:hover {
    background: #333;
    color: #fff;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.section-heading {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 40px;

}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Design for screen container  */
.container {
    max-width: var(--container-normal);
    margin: 0 auto;
    padding: 0 1.5rem;
}

.container-lg {
    max-width: var(--container-wide);
}

.container-sm {
    max-width: var(--container-normal);

}

/* Design for header*/
.header {
    margin: 1.5rem auto;
}

.header .logo {
    width: 50px;
}

.header .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .main-menu {
    display: flex;
    gap: 1rem;

}

.header .main-menu a {
    padding: 1.5rem 1rem;
}

.header .main-menu a:hover {
    background: var(--primary-color);
}

.current {
    background: #fcf5e9;
    font-weight: 600;
}


/* For hero class info section*/
.hero {
    height: 150px;
    /* min-height: 20vh; */
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;

}

.hero h2 {
    font-size: 2rem;
    font-weight: normal;
}


.gallary-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 600px;
    margin-top: 20px;


}

.gallary-item {
    width: calc(33.333% - 20px);
    object-fit: cover;
    border-radius: 8px;
    height: 30vh;

}

.gallary-item img {
    border-radius: 10px;
    height: 30vh;
    width: 33.333vh;

}

.gallary-item:hover {
    opacity: 0.9;
}

/*Footer */
.footer {
    border-top: 1px solid#aaa;
    padding: 2rem 1.5rem;
    margin-top: 2rem;

}

.container.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img {
    width: 120px;
    height: 120px;


}

.footer h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/* Services */
.services {
    padding: 3rem 0 4rem;
}

.services-flex {
    display: flex;
    gap: 2rem;
}

.services-item h4 {
    font-size: 1.1rem;
    margin-bottom: 0.7rem;

}

/* Team */
.team {
    padding: 3rem 0 4rem;
}

.team-flex {
    display: flex;
    gap: 1rem;

}

.team-item {
    align-items: center;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.team img {

    height: 200px;
    width: 200px;
    border-radius: 10px;
}

/*Contact  */
.contact {
    padding: 3rem 0 4rem;
}

.contact p {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    text-align: center;
    margin: 2rem 0;

}

.contact input,
.contact textarea {
    border: none;
    border-bottom: 1px #333 solid;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    padding-bottom: 1rem;
}

.contact textarea {
    height: 200px;

}

.contact input:focus,
.contact textarea:focus {
    outline: 0;
}

.contact button {
    width: 100%;
}


/*Media Queries*/
@media(max-width:768px) {

    .header .header-flex,
    .container.footer-flex,
    .sevices,
    .gallary,
    .services-flex,
    .team,
    .team-flex {
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 20px;

    }

    .hero {
        height: 180px;
    }

    .hero h2 {
        font-size: 1.8rem;

    }

    .gallary-flex {
        width: 400px;
    }

    .gallary-item {
        width: calc(50% - 30px);

    }


    .container.footer-flex {
        text-align: center;
    }

}